rect.bars {
	animation: dheight 1s ease;
	transition: fill 0.5s ease;
}
rect.bars:hover {
	box-shadow: 0 0 1em gold;
	fill: var(--A200);
}
@keyframes dheight {
	from {height: 0;fill: var(--A200);}
	to {height: default;}
}
@keyframes fader {
	0% {opacity: 0;}
	100% {opacity: 1.0;}
}
.fade_in {
	opacity: 0;
	animation: fader 0.5s ease-in-out forwards 1s;
}