body {
  font-family: var(--font);
}
fieldset {
  background-color: var(--50);/*50*/
}
#content_body {
  margin: 0;
  background-color: var(--700);
}
#horizontal_bar li {
	white-space: nowrap;
}
#horizontal_bar li a {
	display: block;
	color: black;
	padding: 8px 16px 8px 16px;
	text-decoration: none;
	font-size: 15px;
}
#horizontal_bar li a:hover {
	/*box-shadow:3px 3px 15px #fff;*/
}
#horizontal_bar li a.active {
	/*box-shadow:3px 3px 15px #fff;*/
}
#mainbody {
  /*margin-bottom: 20px;*/
}
fieldset {
  margin: 12px 0px 12px 0px;
  border-radius: 5px;
  border:1px solid #aaa;
  position: relative;
}
form {
  padding: 0;
  margin: 0;
}
fieldset.info {
  padding: 0;
}
.in_field {
  margin: 0;
  padding: 0;
  width: 100%;
}
.in_field h3 {
  font-size: 14px;
  margin: 0;
  padding: 2px;
  background-color: #4d4d4d;
  color: white;
}
h2 {
  padding: 5px;
  margin: 0;
  font-size: 20px;
  color: white;
  background-color: var(--500);
}
/*#vertical_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
#vertical_bar li a {
  display: block;
  color: #000;
  /*padding: 8px 0 8px 16px;
  text-decoration: none;
  /*font-size:15px;
}
#vertical_bar li a:hover {
  /*background-color:#b3b3b3;
  color: white;
}
#vertical_bar div {
  text-align: center;
}
#vertical_bar .tag {
  color: white;
  /*padding: 8px 0 8px 16px;
  text-decoration: none;
  /*font-size:15px;
}
.tag {

}*/
body,input,select,legend,#horizontal_bar li a.active,#horizontal_bar li a:hover{
  background-color: var(--50);
}
p {
  padding: 10px;
  margin: 0;
  font-size: 14px;
  color: #333333;
}
legend {
  font-weight: bold;
  color: dimgray;
	font-size:15px;
  padding:5px 10px;
  /*border:1px solid #aaa;*/
  border-radius: 2px;
  /*box-shadow:3px 3px 15px #aaa;*/
}
input[type=submit], input[type=button], button {
  font-weight:bold;
  border: 1px solid #aaa;
  padding: 3px 7px;
  color: #111;
  text-decoration: none;
  background: #ddd;
  border-radius: 12px;
  transition-duration: 0.4s
}
table {
  font-size: 14px;
  font-weight: default;
  border-collapse: collapse;
}
#vertical_bar li a:hover {
  /*background-color:#b3b3b3;
  color: white;*/
}
.software_info {
  font-size: 14px;
}
.link_floatright {
  float: right;
  font-size: 14px;
  font-weight: normal;
  color: blue;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover:not(.sub_nav a) {
  text-decoration: underline;
}
a:visited {
  color: blue;
}
input[type=text], input[type=datetime-local], input[type=date], select {
  border: 1px solid #aaa;
  padding: 1px 2px;
  margin: 1px 0px;
  font-size: 14px;
  transition-duration: 0.3s;
}
span,label {
  font-size: 14px;
}
input:not([type="image" i]), textarea {
  box-sizing: border-box;
}
input, select {
  outline: none;
}
table.formal td, table.formal th {
  border: 1px solid whitesmoke;
  text-align: left;
  padding: 4px;
}
table.formal tr:hover {
  color: white;
}
td.divider {
  padding-right: 12px;
}
input[type=text]:hover, input[type=datetime-local]:hover, input[type=date]:hover, select:hover {
    box-shadow: 0 0 5px var(--500);/*500*/
}
table.formal tr:nth-child(even) {
    background-color: var(--200);/*200*/
}
table.formal tr:hover, #vertical_bar li a:hover{
    background-color: var(--500);/*500*/
    color: white;
}
legend {
  box-shadow:3px 3px 15px var(--800);/*800*/
}
fieldset, legend {
    border: 1px solid var(--500);/*500*/
}
input[type=submit]:hover, input[type=button]:hover, button:hover{
    box-shadow: 3px 3px 15px var(--500);/*500*/
}
#vertical_bar .focusing {
  border-right: 8px solid red;
}
div,iframe,section,body {

}
{div,iframe,section,body}::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: var(--50);
}

{div,iframe,section,body}::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent;
}

{div,iframe,section,body}::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: linear-gradient(var(--900),var(--700));
}