.tbl_tr {
	font-size: 14px;
	white-space: nowrap;
}
.tbl_ct .tbl_tr {
	display: table-row;
}
.tbl_hct .tbl_tr {
	display: flex;
	cursor: default;
}
.tbl_hct .tbl_th {
	display: inherit;
}
.tbl_th,.tbl_td {
	border: solid whitesmoke;
	border-width: 0 0.7px 0.7px 0;
    /*text-align: left;*/
    box-sizing: border-box;
    padding: 4px;
    /*background-color please plug-in in the theme style sheet*/
}
.tbl_td {
	display: table-cell;
}
.tbl_slt {
	color: white;
	background-color: var(--500);
}
.tbl_sst {
	color: white;
	background-color: hotpink;
}
.tbl_th {
	color: white;
	background-color: var(--900);
}
.tbl_ct {
	color: #4d4d4d;
	width: fit-content;
	overflow-y: auto;
	/*height: 100px;*/
}
.tbl_ctr {
	margin-left: 10px;
}
.tbl_ctr:hover {
	text-decoration: underline;
}
.tbl_ctr_act {
	color: var(--B200);
	font-weight: bold;
}
.tbl_hct {
	width: fit-content;
}
.tbl_ct .tbl_tr:nth-child(even):not(.tbl_slt) {
	background-color: var(--100);
}
.tbl_ct .tbl_tr:nth-child(odd):not(.tbl_slt) {
	background-color: transparent;
}
.tbl_ct .tbl_hover:hover:not(.tbl_slt) {
	color: white;
	background-color: var(--A100);
}
.tbl_tct {
	padding: 4px;
}
.tbl_tr input[type=checkbox] {
	transform: scale(1.3);
}