.tooltip {
    position: relative;
    display: inline-block;
}
.tooltiptext {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.tooltip .tooltiptext {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    /*border-color: transparent dimgray transparent transparent;*/
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
span.tooltip, span.tooltiptext {
    background-color: var(--800);
}
.user_table.tooltiptext::after {
    border-color: transparent transparent transparent var(--800);
}